export_node_red
[{"id":"86608d13.127a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"30180429.20ab1c","type":"firebase modify","z":"86608d13.127a8","name":"","firebaseconfig":"","childpath":"temperatura","method":"set","value":"msg.payload","priority":"msg.priority","x":480,"y":140,"wires":[[]]},{"id":"345244a2.3fd51c","type":"inject","z":"86608d13.127a8","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["30180429.20ab1c"]]},{"id":"2278da06.38c0a6","type":"inject","z":"86608d13.127a8","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["30180429.20ab1c"]]},{"id":"658dc155.6654","type":"inject","z":"86608d13.127a8","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["30180429.20ab1c"]]}]
